/* CONFIGURAÇÕES DA PÁGINA */
:root {
  --cor-primaria: #141414; /* preto */
  --cor-secundaria: #F26451; /* laranja */
  --cor-terciaria: #F7F5EC; /* creme */
}

/* CONFIGURAÇÕES DA PÁGINA */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    /*box-sizing: border-box;*/
    position: relative;
}

a {
  text-decoration: none;
  color: var(--cor-primaria);
}

a:hover {
  text-decoration: none;
  color: var(--cor-secundaria);
}

ul {
  list-style: none outside none;
}

.botao-tipo-1 {
  position: relative;
  width: 20vw;
  height: auto;

  background-color: var(--cor-secundaria);
  border-radius: 30px;
  color: var(--cor-terciaria);
  font-size: medium;
  font-weight: bold;
  border: hidden;
  margin: 0.8vh;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.botao-texto {
  width: 60%;
}

.botao-tipo-2 {
  position: relative;
  width: 20vw;
  height: auto;

  background-color: transparent;
  border: 1px solid var(--cor-terciaria);
  border-radius: 30px;
  color: var(--cor-terciaria);
  font-size: medium;
  font-weight: bold;
  margin: 0.8vh;
}

.linha-botao {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.botao-tipo-1 i, .botao-tipo-2 i {
  font-size: 1.7vw;
  margin-left: 1em;
  margin-right: 0.5em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.botao-tipo-2 img, .botao-tipo-1 img {
  font-size: 2em;
  margin-left: 0.8em;
  margin-right: 0.3em;
}

/* Header */
.header {
  position: relative;
  background-color: var(--cor-terciaria);
}

.header img {
  width: 6vw;
  height: 40px;
}

.navbar {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row-reverse;
  height: 10vh;
  color: var(--cor-primaria);

  background-image: url(assets/fundo_4.png);
  background-size: cover;
  background-blend-mode: overlay;
}

.navbar .coluna {
  position: relative;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 2%;
}

/* Secoes */

/* Secao 1 */
.seçao-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 90vh;

  background-image: url(assets/fundo_1.png), url(assets/fundo_2.png);
  background-size: cover;
  background-blend-mode: overlay;
  min-height: 100vh;
  text-align: center;
  background-attachment: fixed;
}

/* Secao 2 */
.seçao-2 {
  background-color: var(--cor-terciaria);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: 50vh;
  color: var(--cor-primaria);
}

.seçao-2 img {
  height: 50vh;
  width: 45vw;
  max-width:100%;
  max-height:100%;
}

.texto {
  left: 12%;
}

.texto-1 {
  font-size: 5vh;
  font-weight: lighter;
}

.texto-1 i {
  font-size: 4vh;
}

.texto-1 i:hover {
  color: var(--cor-secundaria);
}

.texto-2 {
  font-size: 2.5vh;
  font-weight: normal;
}

.texto-3 {
  position: relative;
  margin-top: 1.5vh;
  font-weight: bold;
  font-size: 2.5vh;
}

.texto-3 a {
  color: var(--cor-secundaria);
}

.texto-3 a:hover {
  color: var(--cor-primaria);
}

/* Secao_3 */
.seçao-3 {
  position: relative;
  width: auto;
  background-color: var(--cor-primaria);
  color: var(--cor-terciaria);
  height: 50vh;
  padding: 15vh;

  background-image: url(assets/fundo_1.png), url(assets/fundo_5.png);
  background-size: cover;
  background-blend-mode: overlay;
  text-align: center;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: center;
}

.seçao-3 h1 {
  font-weight: lighter;
  font-size: 3.4vw;
}

.seçao-3 h3 {
  font-weight: lighter;
  font-size: 1.8vw;
  padding-bottom: 2.5vh;
}

.seçao-3 text {
  font-weight: normal;
  font-size: 1.55vw;
  padding-bottom: 1vh;
}

.descricao {
  text-align: justify;
}

.seçao-3 i:hover {
  color: var(--cor-secundaria);
}

.seçao-3 .solucoes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.solucoes i {
  font-size: 3vw;
  padding-bottom: 2.5vh;
  padding-top: 2.5vh;
}

/* Secao 4 */
.seçao-4 {
  background-color: var(--cor-terciaria);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.seçao-4 .coluna {
  position: relative;
  background-color: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.seçao-4 img {
  position: relative;
  bottom: -35px;
  height: auto;
  width: 30vw;
}

.funcao {
  border: 0.8px solid var(--cor-primaria);
  border-radius: 3px;
  height: auto;
  margin: 4%;
  padding: 2%;
}

.funcao h2 {
  position: relative;
  display: block;
  font-size: 2vw;
  margin-bottom: 4%;
}

.funcao h4 {
  font-size: 1vw;
  font-weight: normal;
}

.funcao:hover {
  color: var(--cor-secundaria);
  border: 0.8px solid var(--cor-secundaria);
}

/* Secao 5 */
.seçao-5 {
  height: 100vh;
  width: 100%;
  background-color: var(--cor-primaria);
  display: flex;
  justify-content: center;

  background-image: url(assets/fundo_1.png), url(assets/fundo_3.png);
  background-size: cover;
  background-blend-mode: overlay;
  min-height: 100vh;
  text-align: center;
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container img {
  height: auto;
  width: 20vw;
  margin-bottom: 3vh;
}

/* Secao 6 */
.seçao-6 {
  display: flex;
  justify-content: space-around;
  position: relative;
  height: 55vh;
  width: 100%;
  background-color: var(--cor-primaria);
}

.seçao-6 h1 {
  color: var(--cor-terciaria);
  margin-bottom: 1.5vh;
  font-size: 4.8vh;
  font-weight: lighter;
}

.seçao-6 h2 {
  color: var(--cor-terciaria);
  margin-bottom: 1.5vh;
  font-size: 3vh;
  font-weight: lighter;
}

.seçao-6 h3 {
  color: var(--cor-terciaria);
  margin-bottom: 1vh;
  font-size: 2.5vh;
  font-weight: lighter;
}

.seçao-6 .coluna {
  display: flex;
  flex-direction: column;
  padding: 2%;
  justify-content: center;
  align-items: center;
}

.seçao-6 input {
  background-color: var(--cor-terciaria);
  border: hidden;
  color: var(--cor-primaria);
  height: 2vh;
  width: 18vw;
  font-size: 1.2em;
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding: 2vh;
  border-radius: 3px;
}

.seçao-6 textarea {
  background-color: var(--cor-terciaria);
  border: hidden;
  color: var(--cor-primaria);
  height: 10vh;
  width: 18vw;
  font-size: 1.2em;
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding: 2vh;
  border-radius: 3px;
}

.form {
  position: relative;
  margin-top: 5vh;
}

.seçao-6 .botao-submit {
  justify-content: center;
  position: relative;
  width: 8vw;
  height: 4vh;

  background-color: var(--cor-secundaria);
  border-radius: 30px;
  color: var(--cor-terciaria);
  font-size: medium;
  font-weight: bold;
  border: hidden;
  margin: 0.8vh;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Footer */
.footer {
  display: flex;
  position: relative;
  background-color: var(--cor-terciaria);
  color: var(--cor-primaria);
  height: 40vh;
  padding: 2%;
  padding-left: 12%;
}

.primeira img {
  width: 9vw;
  height: 70px;
}

.sexta img {
  width: 2vw;
}

.footer .coluna {
  position: relative;
  background-color: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.titulo {
  margin-bottom: 1.5vh;
  font-weight: bold;
}

.links {
  margin-bottom: 0.8vh;
}
